<div id="page_title">
  <h1>
    <% page_title = t('.title', :district => @district ? @district.name : params[:id])
       title page_title.html_safe
    %>
    <%= page_title %>
  </h1>
</div>

<% if @district %>
  <h3>
    <%= t('.subtitle', :district => @district.name, :count => number_with_delimiter(@population.count)) %>
  </h3>

  <div id="chart_age_population"></div>

  <div class="row-fluid">
    <div class="span6">
      <div id="chart_top_fnames"></div>
    </div> 
    <div class="span6">
      <div id="chart_top_lnames"></div>
    </div>  
  </div>   

  <div class="row-fluid" id="datatables">
    <div class="span6">
      <h3><%= t('tables.first_name.title')%></h3>
      <table id="first_name_districts_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_names_district_url(:name_type => Name::TYPE[:first_name], :district_id => @district.id, :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.first_names.name')%></th>
            <th><%= t('tables.first_names.total')%></th>
            <th><%= t('tables.first_names.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div> 
    <div class="span6">
      <h3><%= t('tables.last_name.title')%></h3>
      <table id="last_name_districts_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_names_district_url(:name_type => Name::TYPE[:last_name], :district_id => @district.id, :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.last_names.name')%></th>
            <th><%= t('tables.last_names.total')%></th>
            <th><%= t('tables.last_names.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <%= t('.not_exist', :district => params[:id])%>
<% end %>
