<h1>
  <%= t('.title')%>
  <% if @district %>
    <%= @district.name %>
  <% else %>
    <%= params[:id] %>
  <% end %>
</h1>

<% if @district %>
  <h3>
    <%= t('.subtitle', :district => @district.name, :count => number_with_delimiter(@population.count)) %>
  </h3>

<div class="row">
  <div class="span6">
    <div id="chart_top_fnames"></div>
  </div> 
  <div class="span6">
    <div id="chart_top_lnames"></div>
  </div>  
</div>   

  <div class="row">
    <div class="span4">
      <h3><%= t('app.common.first_name')%></h3>
      <ol class="standard">
      <% @district_first_names.each do |district| %>
        <li>
          <%= link_to district.name.name, first_name_path(district.name.permalink) %><%= ": #{number_with_delimiter(district.count)}" %>
        </li>
      <% end %>
      </ol>
      <p>
      <%= t('.total_first', :count => number_with_delimiter(@total_first.count)) %>
      </p>
     </div> 
    <div class="span4">
      <h3><%= t('app.common.last_name')%></h3>
      <ol class="standard">
      <% @district_last_names.each do |district| %>
        <li>
          <%= link_to district.name.name, last_name_path(district.name.permalink) %><%= ": #{number_with_delimiter(district.count)}" %>
        </li>
      <% end %>
      </ol>
      <p>
      <%= t('.total_last', :count => number_with_delimiter(@total_last.count)) %>
      </p>
     </div>  
  </div>   
<% else %>
  <%= t('.not_exist', :district => params[:id])%>
<% end %>