
<div id="download_container">
    <h1>
      <% 
        title t('.title') 
         og_description t('.p_1').html_safe 
      %>
      <%= t('.title') %>
    </h1>
  <p>
    <%= t('.p_1') %>
  </p>
  <p>
    <%= t('.p_2') %>
  </p>
  <p>
    <%= t('.p_3') %>
  </p>
  <p>
    <%= link_to t('.csv', :size => number_to_human_size(42757225)), url_for(params.merge(:type => 'csv')), :id => 'csv' %>
    <%= link_to t('.excel', :size => number_to_human_size(85921102)), url_for(params.merge(:type => 'excel')), :id => 'excel' %>
  </p>    
</div>



