<div id="page_title">
  <div>
    <h1 class="clear">
      <% if @first_name && @last_name 
        page_title = t('.title', :first => @first_name.name, :last => @last_name.name)
        og_description t('.description', :first_name => @first_name.name, :last_name => @last_name.name, :count => number_with_delimiter(@full_name_count)).html_safe 
      else 
        page_title = "#{params[:first_name]} #{params[:last_name]}" 
       end 

        title page_title.html_safe
      %>

      <%= page_title %>
    </h1>
    <% if @first_name && @last_name %>
    <h3>
      <%= t(".subtitle", :first => @first_name.name, :last => @last_name.name, :count => number_with_delimiter(@full_name_count)) %>
    </h3>
    <% end %>
  </div>
</div>
<% if @first_name && @last_name %>

  <%= render "root/map" %>

  <div id="chart_age_population"></div>

  <div class="row-fluid" id="datatables">
    <div class="span6">
      <h3><%= t('tables.year.title_full', :name => "#{@first_name.name} #{@last_name.name}")%></h3>
      <table id="birth_years_full_name_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_birth_years_full_name_url(:first_name_id => @first_name.id, :last_name_id => @last_name.id,:format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.year.year')%></th>
            <th><%= t('tables.year.age')%></th>
            <th><%= t('tables.year.total')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3><%= t('tables.district.title_full', :name => "#{@first_name.name} #{@last_name.name}")%></h3>
      <table id="districts_full_name_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_districts_full_name_url(:first_name_id => @first_name.id, :last_name_id => @last_name.id,:format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.district.district')%></th>
            <th><%= t('tables.district.total')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <div>
    <p>
      <%= t('.not_exist', :first => params[:first_name], :last => params[:last_name]) %>
    </p>
  </div>
<% end %>
