<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>

<h1 class="clear">
  <% if @first_name && @last_name %>
    <%= t('.title', :first => @first_name.name, :last => @last_name.name)%>
  <% else %>
    <%= "#{params[:first_name]} #{params[:last_name]}" %>
  <% end %>
</h1>

<% if @first_name && @last_name %>

  <div id="map_container">
    <div id="map"></div>
    <div id="map_legend">
      <h3><%= t('charts.map.all.legend')%></h3>
      <ul>
        <% @color_legend.each do |color|%>
          <li>
            <span style="background-color: <%=color[:color]%>; border: solid 1px #333;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= color[:rank] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="map_info_box" style="display: none;">
      <ul>
        <li>
          <%= "#{t('charts.map.district')}:"%> <span id="map_district_name"></span>
        </li>
        <li>
          <%= "#{t('charts.map.total')}:"%> <span id="map_district_count"></span>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="chart_age_population"></div>

  <div class="row-fluid">
    <div class="span6">
      <h3><%= t('tables.year.title')%></h3>
      <table id="birth_years_full_name_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_birth_years_full_name_url(:first_name_id => @first_name.id, :last_name_id => @last_name.id,:format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.year.year')%></th>
            <th><%= t('tables.year.age')%></th>
            <th><%= t('tables.year.total')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3><%= t('tables.district.title')%></h3>
      <table id="districts_full_name_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_districts_full_name_url(:first_name_id => @first_name.id, :last_name_id => @last_name.id,:format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.district.district')%></th>
            <th><%= t('tables.district.total')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <%= t('.not_found', :first => params[:first_name], :last => params[:last_name]) %>
<% end %>
