<div id="site_description">
  <div>
    <p><%= t('.p1') %></p>
    <p><%= t('.p2') %></p>
  </div>
</div>

<div class="row-fluid" id="stats_container">
  <div class="span12" id="stats">
    <div class="">
      <% en_classname = (locale == :en ? 'morespace' : '') %>
      <div class="smalltext">
        <div class="img" style="background-image: url('/assets/stats_icons/source.png');"><%= image_tag 'stats_icons/source.png' %></div>
        <h4><%= t('.stats.source_header') %></h4>
        <%= t('.stats.source_text') %>
      </div>
      <div class="morespace">
        <div class="img" style="background-image: url('/assets/stats_icons/when.png');"><%= image_tag 'stats_icons/when.png' %></div>
        <h4><%= t('.stats.when_header') %></h4>
        <%= t('.stats.when_text') %>
      </div>
      <div class="morespace">
        <div class="img" style="background-image: url('/assets/stats_icons/where.png');"><%= image_tag 'stats_icons/where.png' %></div>
        <h4><%= t('.stats.where_header') %></h4>
        <%= t('.stats.where_text') %>
      </div>
      <div class="">
        <div class="img" style="background-image: url('/assets/stats_icons/people.png');"><%= image_tag 'stats_icons/people.png' %></div>
        <h4><%= t('.stats.population_header').html_safe %></h4>
        <%= number_with_delimiter 3510514 %>
      </div>
      <div class="morespace">
        <div class="img" style="background-image: url('/assets/stats_icons/districts.png');"><%= image_tag 'stats_icons/districts.png' %></div>
        <h4><%= t('.stats.districts_header') %></h4>
        <%= number_with_delimiter 73 %>
      </div>
      <div class="morespace">
        <div class="img" style="background-image: url('/assets/stats_icons/precincts.png');"><%= image_tag 'stats_icons/precincts.png' %></div>
        <h4><%= t('.stats.precincts_header') %></h4>
        <%= number_with_delimiter 3617 %>
      </div>
      <div class="morespace">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/names.png');"><%= image_tag 'stats_icons/names.png' %></div>
          <h4><%= t('.stats.first_names_header') %></h4>
          <%= number_with_delimiter 44218 %>
        </div>
      </div>
      <div class="morespace">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/names.png');"><%= image_tag 'stats_icons/names.png' %></div>
          <h4><%= t('.stats.last_names_header') %></h4>
          <%= number_with_delimiter 71989 %>
        </div>
      </div>
      <div class="<%= en_classname %>">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/districts.png');"><%= image_tag 'stats_icons/districts.png' %></div>
          <h4><%= t('.stats.largest_district_header') %></h4>
          <%= t('.stats.largest_district_text') %>
          - 
          <%= number_with_delimiter 157184 %>
        </div>
      </div>
      <div class="<%= en_classname %>">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/districts.png');"><%= image_tag 'stats_icons/districts.png' %></div>
          <h4><%= t('.stats.smallest_district_header') %></h4>
          <%= t('.stats.smallest_district_text') %>
          -
          <%= number_with_delimiter 5349 %>
        </div>
      </div>
      <div class="<%= en_classname %>">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/oldest.png');"><%= image_tag 'stats_icons/oldest.png' %></div>
          <h4><%= t('.stats.oldest_header') %></h4>
          <%= number_with_delimiter 120 %>
        </div>
      </div>
      <div class="">
        <div>
          <div class="img" style="background-image: url('/assets/stats_icons/common.png');"><%= image_tag 'stats_icons/common.png' %></div>
          <h4><%= t('.stats.popular_age_header') %></h4>
          <%= number_with_delimiter 26 %>
          -
          <%= number_with_delimiter 74678 %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid" id="top_first_last_names">
  <div class="span6">
    <div id="chart_top_fnames"></div>
  </div>
  <div class="span6">
    <div id="chart_top_lnames"></div>
  </div>
</div>

<div class="row-fluid" id="datatables">
  <div class="span6">
    <h3><%= t('tables.first_name.all.title')%></h3>
    <table id="first_name_country_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:first_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.first_name.all.name')%></th>
          <th><%= t('tables.first_name.all.total')%></th>
          <th><%= t('tables.first_name.all.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
  <div class="span6">
    <h3><%= t('tables.last_name.all.title')%></h3>
    <table id="last_name_country_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:last_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.last_name.all.name')%></th>
          <th><%= t('tables.last_name.all.total')%></th>
          <th><%= t('tables.last_name.all.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>   

<div id="chart_age_population"></div>

<%= render "root/map" %>
