<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>

<div class="row-fluid" id="stats_container">
  <div class="span8" id="stats">
    <div class="row-fluid">
      <div class="span4">
        <h4><%= t('.stats.source_header') %></h4>
        <%= t('.stats.source_text') %>
      </div>
      <div class="span4">
        <h4><%= t('.stats.when_header') %></h4>
        <%= t('.stats.when_text') %>
      </div>
      <div class="span4">
        <h4><%= t('.stats.where_header') %></h4>
        <%= t('.stats.where_text') %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h4><%= t('.stats.population_header') %></h4>
        <%= number_with_delimiter 3613745 %>
      </div>
      <div class="span4">
        <h4><%= t('.stats.districts_header') %></h4>
        <%= number_with_delimiter 75 %>
      </div>
      <div class="span4">
        <h4><%= t('.stats.precincts_header') %></h4>
        <%= number_with_delimiter 3648 %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4" id="names">
        <div>
          <h4><%= t('.stats.first_names_header') %></h4>
          <%= number_with_delimiter 47180 %>
        </div>
        <div>
          <h4><%= t('.stats.last_names_header') %></h4>
          <%= number_with_delimiter 74481 %>
        </div>
      </div>
      <div class="span4" id="districts">
        <div>
          <h4><%= t('.stats.largest_district_header') %></h4>
          <%= t('.stats.largest_district_text') %>
          - 
          <%= number_with_delimiter 163083 %>
        </div>
        <div>
          <h4><%= t('.stats.smallest_district_header') %></h4>
          <%= t('.stats.smallest_district_text') %>
          -
          <%= number_with_delimiter 5788 %>
        </div>
      </div>
      <div class="span4" id="ages">
        <div>
          <h4><%= t('.stats.oldest_header') %></h4>
          <%= number_with_delimiter 132 %>
        </div>
        <div>
          <h4><%= t('.stats.popular_age_header') %></h4>
          <%= number_with_delimiter 22 %>
          -
          <%= number_with_delimiter 75672 %>
        </div>
      </div>
    </div>
  </div>
  <div class="span4" style="text-align: center;">
    <%= form_tag search_name_path, :method => :get do %>
      <div class="control-group">
        <h2><%= t('.search_first_name') %></h2>
    		<%= text_field_tag 'q' %>
  		</div>
    <% end %>

    <%= form_tag search_name_path, :method => :get do %>
      <div class="control-group">
        <h2><%= t('.search_last_name') %></h2>
    		<%= text_field_tag 'q' %>
  		</div>
    <% end %>
  </div>
</div>

<div class="row-fluid" id="top_first_last_names">
  <div class="span6">
    <div id="chart_top_fnames"></div>
  </div>
  <div class="span6">
    <div id="chart_top_lnames"></div>
  </div>
</div>

<div class="row-fluid" id="datatables">
  <div class="span6">
    <h3><%= t('tables.first_name.title')%></h3>
    <table id="first_name_country_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:first_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.first_names.name')%></th>
          <th><%= t('tables.first_names.total')%></th>
          <th><%= t('tables.first_names.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
  <div class="span6">
    <h3><%= t('tables.last_name.title')%></h3>
    <table id="last_name_country_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:last_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.last_names.name')%></th>
          <th><%= t('tables.last_names.total')%></th>
          <th><%= t('tables.last_names.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>   

<div id="chart_age_population"></div>

  <div id="map_container">
    <div id="map"></div>
    <div id="map_legend">
      <h3><%= t('charts.map.all.legend')%></h3>
      <ul>
        <% @color_legend.each do |color|%>
          <li>
            <span class="<%=color[:classname]%>" style="border: solid 1px #333;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= color[:rank] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="map_info_box" style="display: none;">
      <ul>
        <li>
          <%= "#{t('charts.map.district')}:"%> <span id="map_district_name"></span>
        </li>
        <li>
          <%= "#{t('charts.map.total')}:"%> <span id="map_district_count"></span>
        </li>
      </ul>
    </div>
  </div>
