  <style>
    svg {
      background: #eee;
      width: 960px;
      height: 500px;
    }
    svg text {
      font-size: 26px;
    }
    svg text.sub_title {
      font-size: 20px;
    }
    #district path {
/*      fill: #08519C;*/
      stroke: #000;
      stroke-width: .3px;
    }
    #district path:hover {
      fill: #000;
      stroke-width: .3px;
    }
  </style>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>

<h1 class="clear">

  <%= generate_medal number_with_delimiter(@name.rank) if @name %>

  <% if @type == Name::TYPE[:first_name] %>
    First Name:
  <% elsif @type == Name::TYPE[:last_name] %>
    Last Name:
  <% end %>
  <% if @name %>
   <%= @name.name %>
  <% else %>
    <%= params[:name] %>
  <% end %>
</h1>

<% if @name %>

  <div id="map_container" style="position: relative;">
    <div id="map"></div>
    <div id="map_legend" style="position:absolute; top: 150px; left: 110px; width: 110px;">
      <h3>Rank Legend</h3>
      <ul>
        <% @color_legend.each do |color|%>
          <li style="line-height: 1.5;">
            <span style="background-color: <%=color[:color]%>; border: solid 1px #333;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= color[:rank] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="map_info_box" style="display: none; position:absolute; top: 100px; left: 500px; width: 175px; border: solid 1px #666; padding: 5px 10px;">
      <ul>
        <li style="line-height: 1.5;">
          District: <span id="map_district_name"></span>
        </li>
        <li style="line-height: 1.5;">
          Rank: <span id="map_district_rank"></span>
        </li>
        <li style="line-height: 1.5;">
          Total: <span id="map_district_count"></span>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="chart_age_population" style="min-width: 400px; height: 400px; margin: 20px auto"></div>

  <div class="row">
    <div class="span4">
      <h3>Name Stats</h3>
      <ul class="standard">
        <li>Rank: <%= number_with_delimiter(@name.rank) %></li>
        <li>Total in Country: <%= number_with_delimiter(@name.count) %></li>
      </ul>
     </div>
    <div class="span4">
      <h3>Name by Birth Year</h3>
      <ul class="standard">
      <% @birth_years.each do |year| %>
        <li>
          <%= link_to year[:birth_year], year_path(year[:birth_year]) %>
          <%= " - Rank: #{number_with_delimiter(year[:rank])}; Total: #{number_with_delimiter(year[:count])}" %>
        </li>
      <% end %>
      </ul>
     </div>
    <div class="span4">
      <h3>Name by District</h3>
      <ul class="standard">
      <% @districts.each do |district| %>
        <li>
          <%= link_to district[:district_name], district_path(district[:district_name]) %>
          <%= " - Rank: #{number_with_delimiter(district[:rank])}; Total: #{number_with_delimiter(district[:count])}" %>
        </li>
      <% end %>
      </ul>
     </div>
  </div>

<% else %>
  <%= "'#{params[:name]}' does not exist."%>
<% end %>
