
<div id="page_title">
  <h1 class="clear">

    <div class="medal_wrapper">
      <%= image_tag generate_rank_path(@name.rank, :format => :png) if @name %>
    </div>

    <% page_title = '' 
        description = ''
     if @type == Name::TYPE[:first_name] 
       page_title << t('.title_first', :name => @name ? @name.name : params[:name])
       description << t('.description_first', :name => @name.name, :count => number_with_delimiter(@name.count), :rank => number_with_delimiter(@name.rank)) if @name
    elsif @type == Name::TYPE[:last_name] 
       page_title << t('.title_last', :name => @name ? @name.name : params[:name])
       description << t('.description_last', :name => @name.name, :count => number_with_delimiter(@name.count), :rank => number_with_delimiter(@name.rank)) if @name
    end 
    
    title page_title.html_safe
    og_description description.html_safe if description.present?
    %>

    <%= page_title %>
  </h1>
</div>

<% if @name %>

  <%= render "root/map", :show_subtitle2 => true, :show_rank => true %>

  <div id="chart_age_population"></div>

  <div class="row-fluid" id="datatables">
    <div class="span6">
      <h3><%= t('tables.year.title')%></h3>
      <table id="birth_years_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_birth_years_url(:name_id => @name.id, :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.year.year')%></th>
            <th><%= t('tables.year.age')%></th>
            <th><%= t('tables.year.total')%></th>
            <th><%= t('tables.year.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <h3><%= t('tables.district.title')%></h3>
      <table id="districts_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_districts_url(:name_id => @name.id, :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.district.district')%></th>
            <th><%= t('tables.district.total')%></th>
            <th><%= t('tables.district.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 50px;">
    <div class="span6">
      <div id="chart_top_names"></div>
    </div>
    <div class="span6">
      <% name_type = @name.name_type == Name::TYPE[:first_name] ? 'last' : @name.name_type == Name::TYPE[:last_name] ? 'first' : '' %>
      <h3><%= t("tables.name.title_#{name_type}")%></h3>
      <table id="names_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_names_url(:name_type => @name.name_type, :name_id => @name.id, :format => :json) %>">
        <thead>
          <tr>
            <th><%= t("tables.name.name_#{name_type}")%></th>
            <th><%= t('tables.name.total')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

<% else %>
  <%= t('.not_found', :name => params[:name]) %>
<% end %>
