<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>

<h1 class="clear">

  <%= generate_medal number_with_delimiter(@name.rank) if @name %>

  <% if @type == Name::TYPE[:first_name] %>
    <%= t('.title_first')%>
  <% elsif @type == Name::TYPE[:last_name] %>
    <%= t('.title_last')%>
  <% end %>
  <% if @name %>
   <%= @name.name %>
  <% else %>
    <%= params[:name] %>
  <% end %>
</h1>

<% if @name %>

  <div id="map_container">
    <div id="map"></div>
    <div id="map_legend">
      <h3><%= t('charts.map.name.legend')%></h3>
      <ul>
        <% @color_legend.each do |color|%>
          <li>
            <span style="background-color: <%=color[:color]%>; border: solid 1px #333;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= color[:rank] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="map_info_box" style="display: none;">
      <ul>
        <li>
          <%= "#{t('charts.map.district')}:"%> <span id="map_district_name"></span>
        </li>
        <li>
          <%= "#{t('charts.map.rank')}:"%> <span id="map_district_rank"></span>
        </li>
        <li>
          <%= "#{t('charts.map.total')}:"%> <span id="map_district_count"></span>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="chart_age_population"></div>

  <div class="row">
    <div class="span4">
      <h3><%= t('tables.year.title')%></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('tables.year.year')%></th>
            <th><%= t('tables.year.age')%></th>
            <th><%= t('tables.year.rank')%></th>
            <th><%= t('tables.year.total')%></th>
          </tr>
        </thead>
        <tbody>
          <% @birth_years.each do |year| %>
            <tr>
              <td>
                <%= link_to year[:birth_year], year_path(year[:birth_year]) %>
              </td>
              <td>
                <%= @static_year - year[:birth_year] %>
              </td>
              <td>
                <%= number_with_delimiter(year[:rank]) %>
              </td>
              <td>
                <%= number_with_delimiter(year[:count]) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div>
    <div class="span2">
      &nbsp;
    </div>
    <div class="span4">
      <h3><%= t('tables.district.title')%></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('tables.district.district')%></th>
            <th><%= t('tables.district.rank')%></th>
            <th><%= t('tables.district.total')%></th>
          </tr>
        </thead>
        <tbody>
          <% @districts.each do |district| %>
            <tr>
              <td>
                <%= link_to district[:district_name], district_path(district[:permalink]) %>
              </td>
              <td>
                <%= number_with_delimiter(district[:rank]) %>
              </td>
              <td>
                <%= number_with_delimiter(district[:count]) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div>
  </div>

<% else %>
  <%= t('.not_found', :name => params[:name]) %>
<% end %>
