<div id="page_title">
  <h1>
    <% title t('.title') %>
    <%= t('.title') %>
  </h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3><%= t('tables.first_name.title')%></h3>
    <table id="first_name_search_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:first_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.first_name.name')%></th>
          <th><%= t('tables.first_name.total')%></th>
          <th><%= t('tables.first_name.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
  <div class="span6">
    <h3><%= t('tables.last_name.title')%></h3>
    <table id="last_name_search_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_names_country_url(:name_type => Name::TYPE[:last_name], :format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.last_name.name')%></th>
          <th><%= t('tables.last_name.total')%></th>
          <th><%= t('tables.last_name.rank')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>   

<div class="row-fluid">
  <div class="span6">
    <h3><%= t('tables.full_name.title')%></h3>
    <table id="full_name_search_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_full_names_url(:format => :json) %>">
      <thead>
        <tr>
          <th><%= t('tables.full_name.first_name')%></th>
          <th><%= t('tables.full_name.last_name')%></th>
          <th><%= t('tables.full_name.total')%></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
</div>   
