<div id="page_title">
  <h1>
    <% page_title = t('.title', :year => params[:id], :age => @static_year-params[:id].to_i) 
      title page_title.html_safe
    %>
    <%= page_title %>
  </h1>
</div>

<% if @population %>
  <h3>
    <%= t('.subtitle', :year => params[:id], :count => number_with_delimiter(@population.count)) %>
  </h3>

  <div id="map_container">
    <div id="map_title">
      <h3><%= @map_title %></h3>
      <h4><%= @map_sub_title1 %></h4>
      <h4><%= @map_sub_title2 %></h4>
    </div>
    <div id="map"></div>
    <div id="map_legend">
      <h3><%= t('charts.map.year.legend')%></h3>
      <ul>
        <% @color_legend.each do |color|%>
          <li>
            <span class="<%=color[:classname]%>">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <%= color[:rank] %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="map_info_box" style="display: none;">
      <ul>
        <li>
          <%= "#{t('charts.map.district')}:"%> <span id="map_district_name"></span>
        </li>
        <li>
          <%= "#{t('charts.map.total')}:"%> <span id="map_district_count"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div id="chart_top_fnames"></div>
    </div> 
    <div class="span6">
      <div id="chart_top_lnames"></div>
    </div>  
  </div>   

  <div class="row-fluid" id="datatables">
    <div class="span6">
      <h3><%= t('tables.first_name.title')%></h3>
      <table id="first_name_birth_years_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_names_birth_year_url(:name_type => Name::TYPE[:first_name], :birth_year => params[:id], :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.first_names.name')%></th>
            <th><%= t('tables.first_names.total')%></th>
            <th><%= t('tables.first_names.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div> 
    <div class="span6">
      <h3><%= t('tables.last_name.title')%></h3>
      <table id="last_name_birth_years_datatable" class="display table table-striped table-bordered" 
            data-source="<%= search_names_birth_year_url(:name_type => Name::TYPE[:last_name], :birth_year => params[:id], :format => :json) %>">
        <thead>
          <tr>
            <th><%= t('tables.last_names.name')%></th>
            <th><%= t('tables.last_names.total')%></th>
            <th><%= t('tables.last_names.rank')%></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>   
<% else %>
  <%= t('.not_exist', :year => params[:id])%>
<% end %>  
