<h1>
  <%= t('.title', :year => params[:id], :age => @static_year-params[:id].to_i) %>
</h1>

<% if @population %>
  <h3>
    <%= t('.subtitle', :year => params[:id], :count => number_with_delimiter(@population.count)) %>
  </h3>

  <div class="row">
    <div class="span6">
      <div id="chart_top_fnames"></div>
    </div> 
    <div class="span6">
      <div id="chart_top_lnames"></div>
    </div>  
  </div>   

  <div class="row">
    <div class="span4">
      <h3><%= t('app.common.first_name')%></h3>
      <ol class="standard">
      <% @year_first_names.each do |year| %>
        <li>
          <%= link_to year.name.name, first_name_path(year.name.permalink) %><%= ": #{number_with_delimiter(year.count)}" %>
        </li>
      <% end %>
      </ol>
      <p>
        <%= t('.total_first', :count => number_with_delimiter(@total_first.count)) %>
      </p>
     </div> 
    <div class="span4">
      <h3><%= t('app.common.last_name')%></h3>
      <ol class="standard">
      <% @year_last_names.each do |year| %>
        <li>
          <%= link_to year.name.name, last_name_path(year.name.permalink) %><%= ": #{number_with_delimiter(year.count)}" %>
        </li>
      <% end %>
      </ol>
      <p>
        <%= t('.total_last', :count => number_with_delimiter(@total_last.count)) %>
      </p>
     </div>  
  </div>   
<% else %>
  <%= t('.not_exist', :year => params[:id])%>
<% end %>  